<!-- individual list -->
<!-- the h-100 class gives each column its own height, overriding
bootstrap's auto same height columns -->
<div class="list_wrapper notebook_wrapper fade_out align-self-start ms-2 p-0">
    <div class="list_sort_handle z-ind-0">  <!-- Sortables target handle -->
    <span class="material-icons drag_handle">drag_handle</span>
    <!-- list location marker -->
    <input type="hidden" name="id" value="list_id {{ list_id }} note" />

    <div class="list_header_wrapper row justify-content-between z-ind-2">
        <div class="col-10">
            <div class="list_header" hx-post="{{ url_for('change_notebook_name') }}" hx-trigger="click" hx-target="this" hx-swap="outerHTML" hx-vals='{"current_notebook": "{{ list_id }}:{{ list_name }}" }'>
                <input type="hidden" name="list_name" value="{{ list_name }}"/>
                <h2>{{ list_name }}</h2>
            </div>
        </div>
        <div class="col-2 z-ind-3 text-end" hx-delete="/remove" hx-target="closest .list_wrapper" hx-swap="outerHTML swap:0.9s" hx-confirm="Are you sure?">
            <span class="material-icons mt-2">close</span>
        </div>
    </div>
    </div>  <!-- Sortables target handle end -->

    <!-- List content: contains individual cards -->
    <div id="listID{{ list_id }}" class="list_content">

        <!-- Individual Cards -->
    {% for card in cards: %}
    <div id="cardID{{ card['card_id'] }}" class="card">
        
        <div class="card_sort_handle"><span class="material-icons">drag_handle</span></div>
        <div class="row">                        
            
            <div class="edit_handle" hx-post="{{ url_for('change_card_content') }}" hx-trigger="click" hx-target="closest .row" hx-swap="outerHTML" hx-vals='{"current_card_content": "{{ card['card_id'] }}::::{{ card['card_body'] }}" }'>
                <span class="material-icons">edit</span>
            </div>

            <input type="hidden" name="id" value="card_id {{ card['card_id'] }}"/>
            <input type="hidden" name="card_body" value="{{ card['card_body'] }}"/>
            <div class="card_content notebook_main col-9">
                    {{ card['card_body_html'] }}
            </div>
            <div class="notebook_side col-3">
                <ul class="metadata">
                    <li>{{ card['card_id'] }}</li>
                    <li>Tags</li>
                    <li>Related Cards</li>
                    <li>Share Link</li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
    <!-- Individual Cards end -->

    </div>
    <!-- List content end -->

     <!--  List tool bar: appends the new card after the last child of the list content div-->
 <div class="list_tools row justify-content-between m-2 mt-1">
     <p style="visibility: collapse;"></p>
    <p class="col-2 material-icons text-center"  _="on click toggle .notebook_wrapper on closest <div.list_wrapper/>">unfold_more</p>
</div><!-- list tool bar end -->
</div>

