{% include "header.html" %}
<body>
    <header id="main_menu h-100" class="smooth">
        <h1 class="p-3">森林</h1>
        <ul class='list-group p-3'>
            <li class='list-group-item list-group-item-dark'>Add New List</li>
            <li class='list-group-item list-group-item-dark' >Add New Notebook</li>
            <li class='list-group-item list-group-item-dark' >Open Archives</li>
            <li class='list-group-item list-group-item-dark'>Settings</li>
        </ul>
    </header>

    <!-- Flexbox Container -->
    <div class="container ms-2">

    <!-- Bootstrap flexbox row -->
    <div id="list_row" class="list_row row flex-nowrap smooth">        

    </div>    <!-- Bootstrap flexbox row end -->
    
    </div>    <!-- Flexbox Container end -->


</body>
{% include "footer.html" %}
