{% include "header.html" %}
<body>
<header id="main_menu h-100" class="smooth">
    <h1 class="p-3">森林</h1>
    <ul class='list-group p-3'>
        <li class='list-group-item list-group-item-dark'>Add New List</li>
        <li class='list-group-item list-group-item-dark'>Add New Notebook</li> 
        <li class='list-group-item list-group-item-dark'>Open Archives</li>
        <li class='list-group-item list-group-item-dark'>Settings</li>
    </ul>
    <p class="position-absolute bottom-0 start-0 p-4">Your user key is {{user_key}}.<br>To access this page again please use this key to login.</p>
</header>

<div id="target" class="z-ind-5" style="position: fixed; z-index: 1000;"></div>

<!-- Flexbox Container -->
<div class="container-fluid">


<!-- Bootstrap flexbox row -->
<div id="list_row" class="list_row row flex-nowrap smooth">

    {% for list in lists: %}

    <!-- Normal Lists -->
    <!-- individual list -->
    <div id="listID{{ list['list_id'] }}" class="list_wrapper wide_wrapper smooth id align-self-start ms-2 p-0">
    <div class="list_sort_handle z-ind-0">  <!-- Sortables target handle -->
    <span class="material-icons drag_handle">drag_handle</span>

        <div class="list_header_wrapper smooth row justify-content-between z-ind-2">
            <div class="col-10">
                <h2 contentEditable="false" class="list_header">{{ list['list_name'] }}</h2>
            </div>
            <div class="col-2 z-ind-3 text-end">
                <span class="material-icons mt-2">close</span>
            </div>
        </div>
    </div>  <!-- Sortables target handle end -->
    
    <!-- List content: contains individual cards -->
    <div class="list_content">

    <!-- Individual Cards -->
    {% for card in list['cards']: %}
    <div id="cardID{{ card['card_id'] }}" class="card id">
        <div class="card_sort_handle"><span class="material-icons">drag_handle</span></div>
        <div class="row">
            <div class="edit_handle">
                <span class="material-icons">edit</span>
            </div>
            <div contentEditable="false" class="card_content content_main col-9">
                <p>{{ card['card_body_html'] }}</p>
            </div>
            <div class="content_side col-3">
            <ul class="metadata">
                <li>{{ card['card_id'] }}</li>
                <li>Tags</li>
                <li>Related Cards</li>
                <li>Share Link</li>
            </ul>
            </div>
        </div>  
    </div>
    {% endfor %}
    <!-- Individual Cards end -->
    </div> <!-- List content end -->

    <!--  List tool bar: appends the new card after the last child of the list content div-->
    <div class="list_tools row justify-content-between m-2 mt-1">
        <p class="col-2 material-icons card_new">add</p>
        <p class="col-2 material-icons text-center list_width">west</p>
    </div><!-- list tool bar end -->

    </div>
    <!-- individual list end -->
    {% endfor %}

</div>    <!-- Bootstrap flexbox row end -->
</div>    <!-- Flexbox Container end -->


</body>
{% include "footer.html" %}
